asn1crypto==0.22.0
boto3==1.9.12
botocore==1.12.12
cffi==1.10.0
cryptography==2.0.3
Django==1.11.4
django-debug-panel==0.8.3
django-debug-toolbar==1.8
django-inline-actions==1.1.0
django-storages==1.7.1
djangorestframework==3.6.3
docutils==0.14
enum34==1.1.6
futures==3.2.0
idna==2.6
ipaddress==1.0.18
jmespath==0.9.3
psycopg2==2.7.3
pycparser==2.18
pycrypto==2.6.1
pyOpenSSL==17.2.0
python-dateutil==2.7.3
pytz==2017.2
s3transfer==0.1.13
six==1.10.0
sqlparse==0.2.3
urllib3==1.23
uWSGI==2.0.15
zipstream==1.1.4
